**OLS Implementation**

In [ ]:

class lr:
    
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self,X_train,y_train):
        num = 0
        den = 0
        for i in range(X_train.shape[0]):   
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)       
    def predict(self,a):
        return self.m * a + self.b

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("/content/StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
df.drop(columns=['gender', 'race/ethnicity', 'parental level of education',
                 'lunch','test preparation course','reading score'],inplace = True)
df.shape

(1000, 2)

In [ ]:
# df['math score'] = df['math score']/10
df.head()

   math score  writing score
0          72             74
1          69             88
2          90             93
3          47             44
4          76             75

In [ ]:
df.rename(columns ={'math score':'percentage', 'writing score': 'package'}, inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df['percentage'],df['package'],test_size=.2, random_state=42)

In [ ]:
lr = LR()
lr.fit(X_train.values,y_train.values)

0.8056691569754489
14.882272320471294

In [ ]:
# lr.predict(X_test.values[0])
X_train.values[0]

62

In [ ]:
from sklearn.linear_model import LinearRegression
lr1 = LinearRegression()

lr1.fit(X_train.values,y_train.values)

AttributeError: ignored